<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>سيرفر لايف واي - قطاع وزارة الداخلية</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="Movement." />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
    "
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="bg-dark text-white p-4">
        <%- include('../partials/navbar.ejs') %>

        <div class="title p-lg-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <img src="Logo2.png" width="500" />
                    </div>
                    <div class="col-md-6 p-5">
                        <div class="arandomtextwhyareyouseeingthat">
                            نرحب بك في موقع
                            <br />
                            <span class="custom">وزارة الـداخـلـــــيــــــــة</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ltr features-wrapper px-5 mx-5 pt-5 mt-5 text-center">
            <div class="feature">
                <img loading="lazy" class="left" src="AboutUs.png" alt="99.99% Uptime" />
                <div>
                    <h2> الامن العام</h2>
                    <p> يهدف قطاع الامن العام في مدينة لايف واي لتنظيم حركة السير والمرور على الطرق الداخلية والخارجية توفير الحماية والسلامة لجميع المواطنين,</p>
                </div>
            </div>
            <div class="feature reverse">
                <div>
                    <h2>القوات الجوية</h2>
                    <p>تعتني القوات الجوية بمدينة واي لايف بالدفاع عن اجواء المدينة، وحماية الأجواء من اي اعتداء خارجي، والعمل مع كافة الوزارات لتحقيق الأمن والاستقرار الوطني.</p>
                </div>
                <img loading="lazy" class="right" src="Sky.png" alt="probot-screen" style="max-width: 300px;"/>
            </div>
            <div class="feature">
                <img loading="lazy" class="left" src="SWAT.png" alt="probot-screen" style="max-width: 300px;" />
                <div>
                    <h2>SWAT فرقة الـــ</h2>
                    <p>هو تشكيل عسكري قادر على نشر وتوزيع القوات بسرعة في مدينة واي لايف، وعادة ما تكون للمداهمات الخاصة او المهام الكبيرة.</p>
                </div>
            </div>
            <div class="feature reverse">
                <div>
                    <h2>القوات البحرية</h2>
                    <p>تهدف القوات البحرية الى الدفاع عن شواطئ وسواحل مدينة لايف واي والقتال داخل البحر لحماية الطرق البحرية ومهاجمة السفن والشواطئ المشبوهة.</p>
                </div>
                <img loading="lazy" class="right" src="Watar.png" alt="probot-screen" />
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>