<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>سيرفر لايف واي - قطاع وزارة الداخلية</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="Movement." />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
    "
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="bg-dark text-white p-4">
      <div class="nav-bar">
        <img id="logoimageonphone" src="logo.png" href="/" alt="liveway" />
        <nav class="navbar navbar-dark navbar-expand-md sticky-top p-3" style="margin: 20px 0 0 0;">
            <div class="container-fluid">
                <button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <% if (user) { %>
                            <li class="nav-item navigationitemsleft">
                                <a class="nav-link login" href="/logout">تسجيل الخروج</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item navigationitemsleft">
                                <a class="nav-link login" href="/login">تسجيل الدخول</a>
                            </li>
                        <% } %>   
                        <li class="nav-item navigationitemsleft">
                            <a class="nav-link" href="/crew">الرتب القيادية</a>
                        </li>
                        <li class="nav-item navigationitemsleft">
                            <a class="nav-link" href="/infractions">نظام المخالفات</a>
                        </li>
     
                    </ul>
                </div>
                <a href="/"><img id="logoimage"src="logo.png" /></a>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item navigationitemsright">
                            <a class="nav-link" href="/recruitment">التوظيف</a>
                        </li>
                        <li class="nav-item navigationitemsright">
                            <a class="nav-link" href="/protocols">البروتوكلات</a>
                        </li>
                        <li class="nav-item navigationitemsright">
                            <a class="nav-link" href="/rules">القوانين</a>
                        </li>
                        <li class="nav-item navigationitemsright">
                            <a class="nav-link" href="/">الرئيسية</a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <script>
        var allTags = document.getElementsByClassName("nav-link");
        for (var i = 0, len = allTags.length; i < len; i++) {
            if (window.location.pathname == allTags[i].pathname) {
                allTags[i].classList.add("active")
            }
        }
    </script>
        <div class="wrapper m">
            <h2>الاتحاق بالخدمة العسكرية</h2>
            <form id="form" style="direction: rtl;">
              <div class="input-box">
                <input name="name" type="text" placeholder="اسمك" required>
              </div>
              <div class="input-box">
                <input name="age" type="number" placeholder="العمر" required>
              </div>
              <div class="input-box">
                <input name="playerID" type="number" placeholder="ايدي اللاعب باللعبة" required>
              </div>
              <div class="input-box">
                <input name="require" type="text" placeholder="الخبرات" required>
              </div>
              <div class="input-box">
                <input name="reason" type="text" placeholder="سبب الدخول بالخدمة العسكرية" required>
              </div>
              <div class="input-box button">
                <input type="Submit" value="تأكيد!">
              </div>
            </form>
          </div>
          <br><br><br>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
          <script>
            $( document ).ready(function() {
                $("#form").submit(function(e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    let form = $(this)

                    $.ajax({
                        type: "POST",
                        url: "/api/recruitment",
                        data: form.serialize(), // serializes the form's elements.
                        success: function(data) {
                            if (data == "Done!") {
                                swal("يرجى الانتظار...", "يرجى الانتظار حتى يتم قبولك من قبل مشرفين التقديمات ، بإمكانك إغلاق هذه النافذة إذا اردت", "info");
                            }
                        }
                    });
                });
                var socket = io();
                socket.on('type', function(type) {
                    if(type) {
                        window.location.replace("/quiz");
                    } else {
                        swal("للأسف..", "للأسف تم رفضك", "error");
                    }
                });
            });

          </script>
    </body>
</html>
