<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>سيرفر لايف واي - قطاع وزارة الداخلية</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="Movement." />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
    "
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="bg-dark text-white p-4">
        <%- include('../partials/navbar.ejs') %>

        <div class="rules">
            <h1>القوانين</h1>
            <img src="rules.png" width="800" alt="wow">
        </div>
            

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>